<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdtde.chongdetang.mapper.OrderShoppingMapper">

    <insert id="insertOrderShoppingBatch">
        insert into order_shopping(order_id, product_id, number)
        values
        <foreach collection="orderShoppings" separator="," item="os">
            (#{os.orderId}, #{os.product.id}, #{os.number})
        </foreach>
    </insert>

</mapper>