<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdtde.chongdetang.mapper.UserCollectionMapper">

    <insert id="insertUserCollection">
        insert into user_collection(user_id, collection_id)
        values (#{userCollection.userId}, #{userCollection.collection.id});
    </insert>

    <select id="getUserCollection" resultMap="user_collection">
        select
            uc.id uid,
            uc.user_id,
            c.*
        from user_collection uc
        join collection c on uc.collection_id = c.id
        where user_id = #{userId};
    </select>

    <resultMap id="user_collection" type="com.cdtde.chongdetang.pojo.UserCollection">
        <id column="uid" property="id"/>
        <result column="user_id" property="userId"/>
        <association property="collection" javaType="com.cdtde.chongdetang.pojo.Collection">
            <id column="id" property="id"/>
            <result column="title" property="title"/>
            <result column="url" property="url"/>
            <result column="type" property="type"/>
            <result column="photo" property="photo"/>
        </association>
    </resultMap>

</mapper>