<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.cdtde.chongdetang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
            android:name=".repository.AppApplication"
            android:icon="@drawable/logo"
            android:label="@string/app_chinese"
            android:networkSecurityConfig="@xml/network_security_config"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@drawable/logo"
            android:theme="@style/Theme.ChongDeTang"
            tools:targetApi="31">
        <activity
                android:name=".view.shop.PayActivity"
                android:exported="false" />
        <activity
                android:name=".view.shop.OrderActivity"
                android:exported="false" />
        <activity
                android:name=".view.my.collect.UserCollectActivity"
                android:exported="false" />
        <activity
                android:name=".view.shop.ShoppingActivity"
                android:exported="false" />
        <activity
                android:name=".view.index.info.InfoDetailActivity"
                android:exported="false" />
        <activity
                android:name=".view.index.info.InfoActivity"
                android:exported="false" />
        <activity
                android:name=".view.index.couplet.CoupletDetailActivity"
                android:exported="false" />
        <activity
                android:name=".view.index.couplet.CoupletActivity"
                android:exported="false" />
        <activity
                android:name=".view.exhibit.CollectionActivity"
                android:exported="false" />
        <activity
                android:name=".view.shop.ProductActivity"
                android:exported="false" />
        <activity
                android:name=".view.index.ContactActivity"
                android:exported="false" />
        <activity
                android:name=".view.index.appoint.AppointActivity"
                android:exported="false" />
        <activity
                android:name=".view.my.address.AddressDetailActivity"
                android:exported="false" />
        <activity
                android:name=".view.my.register.RegisterActivity"
                android:exported="false" />
        <activity
                android:name=".view.my.login.LoginActivity"
                android:exported="false" />
        <activity
                android:name=".view.index.origin.OriginActivity"
                android:exported="false" />
        <activity
                android:name="com.cdtde.chongdetang.view.index.culture.CultureDetailActivity"
                android:exported="false" />
        <activity
                android:name="com.cdtde.chongdetang.view.index.culture.CultureActivity"
                android:exported="false" />
        <activity android:name=".view.index.moment.MomentActivity" />
        <activity android:name=".view.index.moment.MomentDetailActivity" />
        <activity android:name=".view.index.scenes.ScenesActivity" />
        <activity android:name=".view.my.setting.SettingActivity" />
        <activity android:name=".view.my.FeedbackActivity" />
        <activity android:name=".view.my.setting.userInfo.UserInfoActivity" />
        <activity android:name=".view.my.setting.userInfo.UsernameActivity" />
        <activity android:name=".view.my.setting.userPhone.UserPhoneActivity" />
        <activity android:name=".view.my.setting.userPassword.UserPasswordActivity" />
        <activity android:name=".view.my.address.AddressActivity" />
        <activity android:name=".view.my.appoint.UserAppointActivity" />
        <activity android:name=".view.index.search.SearchActivity" />
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                tools:ignore="LockedOrientationActivity" />
        <activity
                android:name=".view.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.cdtde.chongdetang.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>