<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".repository.AppApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_chinese"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:theme="@style/Theme.ChongDeTang"
        tools:targetApi="31">
        <activity
            android:name="com.cdtde.chongdetang.view.index.OriginActivity"
            android:exported="false"
            android:label="@string/title_activity_origin"
            android:theme="@style/Theme.ChongDeTang.NoActionBar" />
        <activity android:name=".view.index.MomentListActivity" />
        <activity android:name=".view.index.MomentActivity" />
        <activity android:name=".view.index.ScenesActivity" />
        <activity android:name=".view.my.SettingActivity" />
        <activity android:name=".view.my.FeedbackActivity" />
        <activity android:name=".view.my.UserInfoActivity" />
        <activity android:name=".view.my.UsernameActivity" />
        <activity android:name=".view.my.NewPhoneActivity" />
        <activity android:name=".view.my.NewPasswordActivity" />
        <activity android:name=".view.my.AddressActivity" />
        <activity android:name=".view.my.AppointmentActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.SearchActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Android7.0以后读取文件需要配置Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cdtde.chongdetang.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>